:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

html {
  font-size: 125%;
  font-family: "Public Sans", sans-serif;
  line-height: 1.4;
}

body {
  padding-top: 1em;
}

.button {
  border-radius: 40px;
  font-size: 0.7em;
  width: 11em;
  color: var(--light-grayish-blue);
  background-image: linear-gradient(
    to right,
    var(--lime-green),
    var(--bright-cyan)
  );
  border: none;
  font-weight: 700;
}

/* Header Styles */
.site__header {
  padding-bottom: 1em;
}

.site__header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1050px;
  margin: auto;
}

.nav__hamburger {
  display: none;
}

.nav__wrapper {
  display: flex;
  font-size: 0.8em;
}

.nav__item a {
  text-decoration: none;
  padding: 1em;
  color: var(--grayish-blue);
  letter-spacing: -1px;
}

/* Hero styles */
.hero {
  display: grid;
  grid-template-areas: "hero";
  height: 145vh;
  max-height: 590px;
  background-image: linear-gradient(
    to bottom,
    var(--very-light-gray),
    var(--white)
  );
}

.hero > * {
  grid-area: hero;
}

.hero__image-bg {
  justify-self: end;
  height: min(145vh, 600px);
  object-fit: cover;
  object-position: 25vw -35vmin;
  width: 80%;
}

.hero__image-mockup {
  justify-self: end;
  object-fit: cover;
  object-position: 8.7vw -18vmin;
  width: 52%;
}

.hero__content {
  width: 30%;
  margin-left: 11%;
  margin-top: 7.5em;
}

h1 {
  font-weight: 300;
  color: var(--dark-blue);
  line-height: 1;
  font-size: 2.7em;
  /* font-size: 4vw; */
  letter-spacing: -0.9px;
}

.hero__content p {
  padding-top: 1.5em;
  font-size: 16px;
  /* font-size: 1.2vw; */
  color: var(--grayish-blue);
}

.hero__button {
  margin-top: 2.5em;
}

/* Features styles */
.features {
  background-color: var(--light-grayish-blue);
}
.features__wrapper {
  max-width: 1050px;
  margin: auto;
  padding-top: 5.2em;
}

.features__reviews-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1em;
  margin-top: 3.5em;
  padding-bottom: 5em;
}

.features__copy h2 {
  color: var(--dark-blue);
  font-weight: 300;
  font-size: 1.75em;
}

.features__copy p {
  font-size: 0.8em;
  width: 100%;
  padding-top: 1.5em;
  color: var(--grayish-blue);
  letter-spacing: -0.1px;
}

.features__review-title {
  color: var(--dark-blue);
  font-weight: 300;
  padding-top: 1em;
  padding-bottom: 1em;
  letter-spacing: -1px;
}

.features__review-copy {
  font-size: 0.71em;
  color: var(--grayish-blue);
  letter-spacing: -0.1px;
}

.features__review:nth-child(1) p {
  padding-right: 1.2em;
}

.features__review:nth-child(2) p,
.features__review:nth-child(3) p {
  padding-right: 1.2em;
}

/* Articles styles */
.articles__wrapper {
  max-width: 1100px;
  margin: auto;
}

.article__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1.5em;
  padding-top: 2em;
}

.articles__wrapper h2 {
  padding-top: 3em;
  font-weight: 400;
  color: var(--dark-blue);
}

.article:nth-child(1) img {
  height: 168.333px;
  width: 100%;
}

.article__author {
  font-size: 0.7em;
  color: var(--grayish-blue);
  letter-spacing: -0.9px;
}

.article__title {
  font-weight: 400;
  color: var(--dark-blue);
}

.article__copy {
  padding-top: 1em;
  font-size: 0.8em;
}
